body
{
     background-color: antiquewhite

}
.container
{
    max-width: 90%
    
     
}

.main
{
      text-align: center;
     color: brown;
     padding: 20 px;
     margin-left: 10%;
     
}
.recipe
{
    display: inline-block;
    margin-left: 500px;
    margin-bottom: 14px;
}


.recipe1,.recipe2,.recipe3
{
    display: inline-block;
    margin-left: 80px; 
    margin-bottom: 14px;
}
.imag img{

   width: 300px;
    height: 300px;
    margin-left: 450px;
    margin-bottom: 10px;
    display: block;
   
}
.ing , .pro
{
    width: 20%;
    display: inline-block;
 
    color: brown;

}
.ing{

    
    margin-left: 18%;
}
.pro{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 35%;
}

h2{
    margin-bottom: 10px;
}
ol{

    padding-left: 20px;
}
