body{
    
    background-color: antiquewhite;
}
.container
{
    width: 100%;
}
.main
{
    margin-left: 550px;
    color: rgb(206, 33, 33);
    margin-bottom: 5px;
       
}

.imag img
{
    width: 90%;
    height: auto;
    margin-left: 60px;
  
    display: block;
   
}
.box2
{
    width: 80%;
    margin: 20px;
    margin-left: 100px;
    text-align: center;
    color: brown;
    font-size: 18px;
   
    
}
.recipe
{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 5px;
}


.recipe1,.recipe2,.recipe3
{
    display: inline-block;
    margin-left: 80px; 
    margin-bottom: 5px;
}

{
    width: 50% ;
    margin: 20px;
    margin-left: 530px;
}